{% extends 'base.html.twig' %}
{% block title %}Privacy Policy - JokesWebApp{% endblock %}
{% block body %}
<div class="container body-content">
    <h2>Privacy Policy</h2>
    <p>This page is running on your local server. Security should not be much of a problem for you.</p>
    <hr>
    <footer>
        <p>© 2021 - JokesWebApp</p>
    </footer>
</div>
{% endblock %}