{% extends 'base.html.twig' %}
{% block title %}Index - JokesWebApp{% endblock %}
{% block body %}
<div class="container body-content">
    <h2>Edit</h2>
    <h4>Joke</h4>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <form action="/Jokes/Edit/{{ joke.id }}" method="post">
                <input type="hidden" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value="{{ joke.id }}">
                <div class="form-group">
                    <label class="control-label" for="JokeQuestion">JokeQuestion</label>
                    <input class="form-control" type="text" id="JokeQuestion" name="JokeQuestion" value="{{ jokeQuestion }}">
                    <span class="text-danger field-validation-valid" data-valmsg-for="JokeQuestion" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="JokeAnswer">JokeAnswer</label>
                    <input class="form-control" type="text" id="JokeAnswer" name="JokeAnswer" value="{{ jokeAnswer }}">
                    <span class="text-danger field-validation-valid" data-valmsg-for="JokeAnswer" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-dark">
                </div>
                <input type="hidden" id="JokeAnswer" name="__RequestVerificationToken" value="7890">
            </form>
        </div>
    </div>
    <div>
        <a href="/Jokes">Back to List</a>
    </div>
    <hr>
    <footer>
        <p>© 2021 - JokesWebApp</p>
    </footer>
</div>
{% endblock %}